.boxer-container {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    flex-wrap:wrap;
    width:100%;
}

.boxer-cards {
    margin:30px;
    padding:10px;
    display:flex;
    justify-content:center;
    flex-direction:column;
    border:solid black 1px;
    box-shadow: 5px 10px 18px;
}

.loading-button {
    text-align:center;
    margin-top: 40%;
}