div.contact-container {
    margin:0;
    margin-right:0;
    width:100vw;
    height:100vh;
    background:url('../images/image-2.jpeg') center center/cover no-repeat;
    padding:5%;
    padding-left:0;
}

.info-container {
    width:40vw;
    padding:3%;
    overflow:scroll;
    border: solid black 1px;
    margin:3%;
    box-shadow: 5px 10px 15px;
    margin-top: 0;
    background-color:#fff;
}

h1 {
    margin-bottom:5%;
}

@media screen and (max-width: 800px) {

    div.contact-container {
        flex-direction:column;
        justify-content:center;
    }

    .info-container {
        width:60vw;
        height:80%;
    }
  }